*{
  margin: 0px;
  text-align: center;
  padding: 0px;
  font-weight: 900;
  color:= #373737;

}

.header{
  padding: 30px 0px;
}

.header a{
  padding-left: 70px;
  cursor: pointer;
  display: inline;
  text-decoration: none;
  font: 18px ﻿Roboto, AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
  color: #16a085;
  width: 100%;
  font-weight: 900;
}

.mainimg{
  height: auto;
  width: 100%;
  display: block;
}

.text{
  background-color: rgb(245, 246, 247);
  width: 100%;
  height: 600px;
}

h3{
  padding: 38px 100px 20px 100px;
  font: 22px Roboto, Courier;
}

p{
  font: 16px Roboto, Courier;
  line-height: 26px;
  padding: 0px 200px;
}

.btn{
  margin: 40px auto;
  background-color: #16a085;
  color: #fff;
  font: 12px GothamRounded, Courier;
  font-weight: 700;
  line-height: 34px;
  height: 38px;
  width: 140px;
  border: 2px solid #16a085;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.copy{
  height: 60px;
  width: 100%;
}

.copy p{
  text-align: right;
  margin-top: 40px;
}
